.filter-search-container {
    width: 25%;
    height: 572px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 540px) {
    .filter-search-container {
        display: none;
    }
}