.description-container {
    width: 85%;
    height: 474px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    p {
        width: 95%;
        font-size: 20px;
    }
}

.table-container {
    width: 95%;
    height: 386px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

// .right-boxes-container {
//     width: 20%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }

// .left-boxes-container {
//     width: 78%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }

.technical-title {
    background-color: #e9edf5;
    width: 20%;
    display: flex;
    align-items: center;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    span {
        margin-right: 10%;
        color: #58728d;
        font-size: 12px;
    }
}

.technical-description {
    background-color: #e9edf5;
    width: 78%;
    display: flex;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    span {
        margin-right: 3%;
        font-size: 12px;
    }
}

.small-height {
    height: 48px;
}

.tall-height {
    height: 146px;
}

@media (max-width: 540px) {
    .description-container {
        height: 900px;
    }
    .table-container {
        height: 801px;
    }
    .right-boxes-container {
        width: 100%;
        height: auto;
    }
    .left-boxes-container {
        width: 100%;
        height: auto;
        margin-top: 5%;
    }
    .technical-title {
        width: 100%;
        border-radius: 16px;
        span {
            margin-right: 5%;
            font-size: 10px;
        }
    }
    .technical-description {
        width: 100%;
        border-radius: 16px;
        span {
            margin-right: 5%;
            font-size: 10px;
        }
    }
}
