.directories-container {
    margin-top: 8px;
    width: 85%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    color: #6883A1;
    span {
        margin-right: 0.5%;
    }
    a {
        text-decoration: none;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 540px) {
    .directories-container {
        height: 50px;
    }
}