.main-container {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media (min-width: 1400px) {
    .main-container{
        width: 1000px;
    }
}

@media (max-width: 540px) {
    .main-container {
        justify-content: center;
        width: 100%;
    }
}