.side-bar-container {
    width: 25%;
    height: 572px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.text-container {
    width: 90%;
    margin-right: 6%;
    font-size: 13px;
}

.text-container-with-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #e8edf6;
    border-radius: 12px;
    margin-right: 5%;
    transition: border-color 0.3s;
    input {
        border: none;
        outline: none;
        width: 70%;
    }
}

.search-box:focus-within {
    border-color: #e20054;
}

.button {
    width: 90%;
    height: 40px;
    border-radius: 12px;
    padding: 124px, 10px, 124px;
    gap: 8px;
    color: #ffffff;
    background-color: #e20054;
    margin-right: 5%;
    cursor: pointer;
}

.radio-button-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    justify-content: space-between;
    height: 70%;
    color: #b2c1d6;
    label {
        display: flex;
        align-items: center;
        width: 100%;
        span {
            margin-right: 3%;
            font-size: 12px;
        }
    }
    input[type='radio'] {
        accent-color: #e20054;
    }
    input[type='checkbox'] {
        accent-color: #e20054;
    }
}

.check-box-container {
    height: 100%;
}

.grouping-and-number-box-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 60%;
}

.number-box-container {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.number-box {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    gap: 10px;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #E20054;
}

@media (max-width: 540px) {
    .side-bar-container {
        display: none;
    }
}
